@{
    ViewData["Title"] = "Powodzenie zamówienia";
}

<div id="page">
    @if (TempData["msg_text"] != null && TempData["success_msg"] != null)
    {
        <div id="info_box" class="@((bool)TempData["success_msg"] ? "bg-success" : "bg-danger") p-3 mb-2 text-white">
            @TempData["msg_text"]
        </div>
    }
    Wszystko git gut
</div>

<script>
    setTimeout(function () {
        $('#info_box').fadeOut('slow');
    }, @TempData["msg_time"]);
</script>