@{
    ViewData["Title"] = "Przekierowanie";
}

<div id="page">
    Zaraz zostaniesz przekierowany
</div>

<script>
    setTimeout(function () {
        window.location.href = '/Order/OrderSuccess/';
    }, 4000);
</script>