/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* CUSTOM
-------------------------------------------------- */
#page {
    
}

#float_clear {
    clear: both;
}

/* PRODUCT DETAILS
-------------------------------------------------- */

#product_details_image {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

#product_details_desc {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

/* PRODUCTS
-------------------------------------------------- */
#products_top_menu {
    width: auto;
    border: solid 2px rgba(0, 0, 1, .15);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

#products_search_box {
    width: 30%;
    padding: 1px;
}

#products_sort_select {
    padding: 3px;
}

#products_left_menu {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    margin-right: 2%;
}

#products_list {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

#products_category_btn {
    width: auto;
    margin-bottom: 5px;
    display: block;
}

/* CART
-------------------------------------------------- */

#cart_products {
    display: inline-block;
    vertical-align: top;
    width: 74%;
    margin-right: 2%;
}

#cart_info {
    display: inline-block;
    vertical-align: top;
    width: 22%;
}

#cart_product_amount_box {
    width: 60px;
}

/* ORDER
-------------------------------------------------- */

#order_products {
    border: solid 2px rgba(0, 0, 1, .15);
    border-radius: 10px;
    padding: 10px;
}

#order_products table {
    margin-bottom: 0px;
}

#right_sizer {
    display: inline-block;
    width: 68%;
}

#products_total_cost {
    display: inline-flex;
    width: 30%;
    font-size: 18px;
    border-top: solid 2px rgba(0, 0, 1, .15);
    align-content: center;
}

#products_total_cost span {
    margin: 10px auto;
}

#order_delivery {
    width: 70%;
    border: solid 2px rgba(0, 0, 1, .15);
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
}

#inner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#delivery_address_box {
    width: 99%;
    display: block;
    margin-bottom: 5px;
}

#delivery_post_code_box {
    width: 28.5%;
}

#delivery_city_box {
    width: 70%;
}

#delivery_country_box {
    width: 99%;
    margin-top: 5px;
}

/* ORDERS HISTORY
-------------------------------------------------- */